
// @import 'bulma/sass/utilities/_all.sass';
// @import 'bulma/sass/base/_all.sass';
// @import 'bulma/sass/elements/box.sass';
// @import 'bulma/sass/form/shared.sass';
// @import 'bulma/sass/form/input-textarea.sass';
// @import 'bulma/sass/form/tools.sass';
// @import 'bulma/sass/elements/title.sass';
// @import 'bulma/sass/elements/button.sass';


.RegisterPage {
  margin: auto;
  margin-top: 10%;
  width: 50%;
  min-width: 600px;
  padding: 25px 35px 35px 45px;
 
  .reverse-order {
    display: flex;
    flex-direction: row-reverse;
  }

  .title-group {
    @extend .reverse-order;
    margin: auto;
    margin-bottom: 45px;
  }

  .button-group {
    @extend .reverse-order;
    margin-top: 25px;
    button {
      margin-left: 5px;
    }
    a {
      margin-right: 5px;
      padding-top: 5px; // vertical allign
      &:hover {
        color: #3273dc;
        text-decoration: underline;
      }
    }
  }
}
